body {
    margin: 0;
    padding: 0;
    background: url('../assets/food.png') repeat #fff;
    font-family: "Open sans", Arial, sans-serif;
    font-size: 16px;
}

/**Common Styles**/
.card-effects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.demo-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    cursor: pointer;
    margin: 20px 0;
    height: 150px;
    background-color: crimson;
    border: 1px solid red;
    color: #000;
    background-attachment: fixed;
    -webkit-box-shadow: 2px 2px 2px #777;
    -moz-box-shadow: 2px 2px 2px #777;
    box-shadow: 2px 2px 2px #777;
}

.card-wrap{
    min-width:150px;
    min-height:150px;
    margin: 20px 0;
}

.header {
    background-color: #4B5C55;
    border-bottom: 2px solid #EB5847;
    padding: 15px;
    min-height: 20px;
    text-align: center;
    font-size: 2rem;
    position: relative;
    z-index: 1000;
    color: #fff;
    width: 100%;
}

.header > p {
    margin: 5px 0;
}

.content {
    position: relative;
    top: 60px;
}

.duo {
    position: relative;
    margin: 0 auto;
    width: 256px;
    height: 256px;
    display: flex;
    flex-direction: column;
}

.duo_top {
    position: absolute;
    top: 0;
    z-index: 500;

}

.duo_bottom {
    position: absolute;
    top: 0;
    z-index: 300;
}

.text-effects {
    text-align: center;
    text-transform: uppercase;
}

.text-effects div {
    margin: 36px 0;
}

.live {
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    display: inline-block;

}

.live.strobe {
    color: #d50000;
}

.strobe:before {
    content: "";
    display: block;
    border: 1px solid #d50000;
    background: #d50000;
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
    right: 30%;
    animation-name: livepulse;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes livepulse {
    0%, 100% {
        border-radius: 50%;
    }

    50% {
        border-radius: 0;
    }
}

@keyframes animrollright {
    0% {
        transform: rotate(0deg);
        left: 0;
        opacity: 1;

    }
    100% {
        transform: rotate(360deg);
        left: 400px;
        opacity: 0;
    }
}

@keyframes animrollleft {
    0% {
        transform: rotate(0deg);
        left: 0;
        opacity: 1;
    }

    100% {
        transform: rotate(-360deg);
        left: -400px;
        opacity: 0;
    }
}

.rollright:hover {
    animation-name: animrollright;
    animation-delay: 100ms;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: 1200ms;
    animation-timing-function: ease-in;

}

.rollleft:hover {
    animation-name: animrollleft;
    animation-delay: 100ms;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-duration: 1200ms;
    animation-timing-function: ease-in;

}

/**
* Swiping animations
* */

.swiperight:hover {
    animation: swiperrightanim 1000ms normal ease-out 1;
}

.swipeleft:hover {
    animation: swiperleftanim 1000ms normal ease-out 1;
}

@keyframes swiperleftanim {

    0% {
        opacity: 1;
        left: 0;
    }

    100% {
        opacity: 0;
        left: -200px;
    }

}

@keyframes swiperrightanim {
    0% {
        opacity: 1;
        left: 0;
    }

    100% {
        opacity: 0;
        left: 200px;
    }
}

/**
* Wobbling... Wobbling !
*/

.wobbleside:hover {
    animation-name: wobblesideanim;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(.36, .07, .19, .97);
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

.wobbleup:hover {

    animation-name: wobbleupanim;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(.36, .07, .19, .97);
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

@keyframes wobblesideanim {
    10%, 90% {
        transform: translate(-1px, 0);
    }

    20%, 80% {
        transform: translate(2px, 0);
    }

    30%, 50%, 70% {
        transform: translate(-4px, 0);
    }

    40%, 60% {
        transform: translate(4px, 0);
    }
}

@keyframes wobbleupanim {
    10%, 90% {
        transform: translate(0, -1px);
    }

    20%, 80% {
        transform: translate(0, 2px);
    }

    30%, 50%, 70% {
        transform: translate(0, -4px);
    }

    40%, 60% {
        transform: translate(0, 4px);
    }
}

/**
Lights
* */

.lights:hover {
    animation-name: lightsAnim;
    animation-duration: 1000ms;
    animation-delay: 200ms;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes lightsAnim {
    10% {
        background-color: #ff5040;
    }
    40% {
        background-color: #0e23ff;
    }
    90% {
        background-color: #11ff21;
    }
}

/*Pushing Down*/

.pushdown:hover {
    width:10px;
    height:10px;
    transform-origin:center center;
    transition-duration:1s;
    transition-property:width , height;


}

@keyframes pushdownAnim {
    0% {
        width: 150px;
        height:150px;
        opacity: 1
    }
    100% {
        width: 10px;
        height:10px;
        opacity: 0;
    }
}

